@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NYU Perstare';
  src: url('/fonts/NYUPerstare-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NYU Perstare Bold';
  src: url('/fonts/NYUPerstare-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NYU Perstare Thin';
  src: url('/fonts/NYUPerstare-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NYU Perstare Italic';
  src: url('/fonts/NYUPerstare-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NYU Perstare Ultra';
  src: url('/fonts/NYUPerstare-Ultra.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NYU Perstare Condensed';
  src: url('/fonts/NYUPerstareCondensed-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --brand-pink: #57058c;
  --brand-light-pink: #fcd9ed;
  --brand-blue: #c8e1fe;
  --brand-white: white;
  --brand-gray: gray;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --brand-pink: #57058c;
    --brand-light-pink: black;
    --brand-blue: #1c2e4a;
    --brand-white: gray;
    --brand-gray: #c8e1fe;
  }
}

@keyframes gradientChange {
  0% {
    background-position: 0% 30%;
  }

  25% {
    background-position: 50% 60%;
  }

  50% {
    background-position: 70% 90%;
  }

  100% {
    background-position: 100% 50%;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}