@keyframes gradientChange {
    0% {
        background-position: 0% 30%;
    }

    25% {
        background-position: 50% 60%;
    }

    50% {
        background-position: 70% 90%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.gradientAnimation {
    background-image: linear-gradient(275deg, var(--brand-light-pink) 0%, var(--brand-white) 50%, var(--brand-blue) 100%);
    background-size: 200% 100%;
    animation: gradientChange 5s ease-in-out infinite;
}

.gradientAnimationReversed {
    background-image: linear-gradient(75deg, var(--brand-light-pink) 10%, var(--brand-white) 30%, var(--brand-blue) 100%);
    background-size: 200% 100%;
    animation: gradientChange 5s ease-in-out infinite;
}

.gradientAnimationAlternate {
    background-image: linear-gradient(75deg, var(--brand-blue) 10%, var(--brand-white) 50%, var(--brand-light-pink) 100%);
    background-size: 200% 100%;
    animation: gradientChange 5s ease-in-out infinite;
}


@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    15% {
        transform: translateX(80%);
        opacity: 0;
    }

    30% {
        transform: translateX(60%);
        opacity: 0;
    }

    45% {
        transform: translateX(50%);
        opacity: 0.25;
    }

    55% {
        transform: translateX(30%);
        opacity: 0.5;
    }

    75% {
        transform: translateX(10%);
        opacity: 0.75;
    }

    88% {
        transform: translateX(5%);
        opacity: 0.75;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideInFromRightAnimation {
    animation: slideInRight 0.5s ease-in-out 1s;
}

.slideInFromRightAnimationSlowDelayed {
    animation: slideInRight 0.5s ease-in-out 2s;
}


/* Vanilla CSS for flip card */
.card {
    perspective: 800px;
}

.card__content {
    transform-style: preserve-3d;
}

.card:hover .card__content {
    transform: rotateY(.5turn);
}

.card__front,
.card__back {
    backface-visibility: hidden;
}

.card__back {
    transform: rotateY(.5turn);
}